/* .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    color: white;
}

footer {
    background: #333333;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.footerLinks {
    text-align: center;
}

.footerLinks ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.footerLinks li {
    display: inline;
}

.footerLinks a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 13px;
} */

.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333333;
   color: white;
   text-align: center;
   height: auto;
   overflow: hidden;
}
/* 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           
  background-color: black;
  color: white;
} */

/* .footer {
    clear: both;
    height: 60px;
    width: 100%;
    float: bottom;
    background-color: #96FA93;
    position: relative;

} */

/* not sure what to do yet due to pages */

/* https://stackoverflow.com/questions/38505021/how-do-you-make-a-footer-with-links-using-css */