* {
    box-sizing: border-box;
}

.header {
    border-bottom: 5px solid #E8EBEF;
}






.profil-picture {
    border: none;
}


/* check both profil status before deleting  */


/* status of the user */




/* profil stats */



/* dont remove above due to current stats  */


/* the new profil stats  */

.profil-stats-new {
    border: none;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    margin-top: 2em;
}

.rank-display-none {
    display: none;
}


.item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item h1 {
    font-weight: 300;
    color: #14213d;
    margin: 0;
    padding: 0.2em;
    font-size: 1.4em;

}

.item h4 {
    font-weight: 300;
    color: #3c599b;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    transition: 0.2s ease color;
}
/* end of profil stats */


/* flexbox */
.flexbox-con {
    display: flex;
    justify-content: space-between;
}

.flexbox {
    width: 200px;
    margin: 10px;
    border: 2px solid #333;
    /* background-color: #dfdfdf; */
}

.flexbox-profil {
    min-height: 100px;
    flex-shrink: 0;
    border: none;
}

.flexbox-center-profilbox {
    min-height: 200px;
    flex-grow: 2;
    flex-basis: 0;
    align-self: center;
    background-color: white;
}

.flexbox-status-rank {
    min-height: 300px;
    /* flex-grow: 1; */
    flex-basis: 0;
}

img {
    width: 100%;
    height: auto;
}


.profil-header {
    /* border-bottom: 1px solid; */
    background-color: #fca311;
    /* color: #ffffff; */
    color: black;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}


.username-info {
    text-align: center;
    background-color: #E8EBEF;
    padding: 1em;
    background: white;
}

.profil-footer {
    display: flex;
    padding: 0 1em 1em 1em;
    background: white;
}

.btn .info {
    color: #ffffff;
    background-color: #fca311;
    border-color: #fca311;
    transition: all 0.2s;
}

.profil-new .profil-footer .btn {
    width: 100%;
}


.profil-new .info {
    padding: 1em;
}

p.btn.info {
    color: #ffffff;
    background-color: #fca311;
    border-color: #fca311;
    transition: all 0.2s;
}



.btn {
    cursor: pointer;
    outline: none;
    vertical-align: baseline;
    margin: 0;
    text-transform: none;
    text-shadow: none;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 5px;

}

/* flight scoreboard */

.flexbox-profil-flightboardheader {
    text-align: center;
    font-size: smaller;
}

.flexbox-profil-flightboardheader2 {
    text-align: center;
    font-size: smaller;
}

table tr:nth-child(odd) {
    background-color: #E5E5E5;
    border: 0;
}

table tr td img {
    height: 20px;
    width: auto;
}

/* 5 flights done and 5 live flights in the air */

.flexbox-profil-flightsdone {
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table thead th {
    padding: 1em;

    background-color: #fca311;
}

a {
    text-decoration: none;
}

/* dont write anything below only mobil version  */
/* mobil not working status */
.mobil {
    display: none;
}

.mobil-info {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobil {
      background-color: white;
      display: block;
      overflow: hidden;
    }

    .profil {
        display: none;
    }
    
    .profil-stats-new {
        display: none;
    }
    .flexbox-con {
        display: none;
    }

    .header {
        display: none;
    }
    .mobil-version {
        border: none;
    }

    .mobil-info {
        border: none;
        display: block;
        margin-top: 30px;
        overflow: hidden;
        background-color: white;
        box-shadow: 1px 1px 1px 1px black;

    }
  }

/* mobil */


